.td-button{
    /* width: 5rem; */
}
.admin-button{
    margin-right: 5px;
}
table{
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 1rem;
    color: black;
    width: 100%;
}
.theads{
    background-color: #007e85;
    width: 100px;
}
.th-color{
    /* padding-right: 50px;
    padding-left: 50px; */
    background-color: #007e85;
    padding: 20px 50px;
    border: 1px solid black;
    color: white;
}
td{
    border: 1px solid black;
}
.border-td{
    border: 1px solid black;
    padding: 10px;
}
.refresh{
    background-color:white;
    padding: 20px 20px;
    color: rgb(204, 204, 211);
    box-shadow: 0px 5px 2px rgb(212, 212, 212);
}
.refresh button{
    background-color:transparent;
    border: 0;
    color: rgb(57, 57, 58);
    font-weight: 600;
}
.applicants-2{
    margin-top: 150px;
}
.admin-container{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px; 
}
.user-total {
    background-color: rgb(45, 121, 213);
    margin-right: 20px;
    border-radius: 20px;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
  }
.user-total h2 {
    display: block;
    margin-bottom: 10px;
  }
.pending-total {
    background-color: rgb(132, 133, 135);
    margin-right: 20px;
    border-radius: 20px;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.accepted-total{
    background-color: rgb(76, 206, 115);
    margin-right: 20px;
    border-radius: 20px;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.rejected-total{
    background-color: rgb(203, 31, 31);
    margin-right: 20px;
    border-radius: 20px;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}