.doctor-area{
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
}
.card-body-2{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.doctor-subtitle h4{
    margin-top: 10px;
    font-weight: 400;
    font-size: 22px;
    white-space: nowrap;
}
.doctor-subtitle span{
    color: #007E85;
    font-size: 30px;
}
.doctor-subtitle i{
    color: #007E85;
}
#doctor-phone{
    background-color: #007E85;
    color: white;
}
.doctor-subtitle button{
    margin-top: 15px;
    margin-bottom: 40px;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    background-color: white;
    color: #007E85;
    border: 2px solid #007E85;
    font-weight: 700;
}
.cards-2{
    overflow: hidden;
    border: 1px solid rgb(215, 213, 213);
    border-radius: 15px;
    width: 1300px;
    margin-bottom: 20px;
}
.img1-2{
    background: url("https://img.wbmdstatic.com/webmd_static_vue/091e9c5e81bf2122/img/bg-profile@2x.ae59762c.jpg");
    height: 100px;
    display: flex;
    justify-content: start;
    padding-left: 220px;
    align-items: center;
    color: white;
}
.img1-2 h2{
    margin-right: 10px;
    font-weight: 700;
}
.img1-2 i{
    font-size: 25px;
    padding-bottom: 5px;
    color: #b0b0b0;
}
.img1-2 h4{
    margin-left: 10px;
    margin-right: 10px;
}
.img1-2 img{
    height: 100px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}
.img2-2 img{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #FFF;
    margin-top: -80px;
    margin-left: 50px;
}
.cards:hover .img2 img{
    border-color: #007E85;
    transition: .7s;
}
.main-text{
    padding: 30px 0;
    text-align: center;
}
.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    margin: 0 0 5px;
}
.main-text h4{
    text-transform: capitalize;
    color: #777;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
}
.socials-2{
    text-align: left;
    padding-bottom: 20px;
    margin-top: 10px;
}
.socials-2 a{
    text-decoration: none;
    margin-right: 20px;
    background-color: white;
    border-radius: 50%;
}
.socials-2 i{
    font-size: 25px;
    color: #007E85;
}
.socials-2 a:hover i {
    color: black;
    transition: 0.5s;
}
.card-body h2{
    padding-top: 20px;
    color: #6EAB36;
}
.card-body h4{
    padding-bottom: 20px;
}
.card-body p{
    padding: 0 40px;
    padding-bottom: 0;
}
.overview{
    background-color: white;
    border: 2px solid rgb(215, 213, 213);
    border-radius: 15px;
    padding: 10px 20px;
}
.overview h3{
    display: inline;
    text-transform: uppercase;
    width: 1300px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    padding-right: 20px;
}
.right{
    margin-right: 10px;
}