.symptomps span{
    font-weight: 700;
    margin-top: 5px;
    text-transform: capitalize;
}
.symptomps{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.symptomps span{
    margin-right: 10px;
}
.symptomps-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.observation span{
    font-size: 18px;
}
.rash{
    background-color: yellow;
}