.serving-logo img{
    margin-bottom: 10px;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}
.serving-logo h2{
    letter-spacing: 5px;
    font-weight: 700;
}
.three-designs{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}
.mini-picture{
    margin-right: 20px;
    margin-bottom: 5px;
}
.three-designs h4{
    display: inline-block;
}
.three-design p{
    margin-top: 10px;
    margin-left: 10px;
}
#welcome{
    font-weight: 600;
    font-size: 20px;
    color:black
}