.td-button{
    /* width: 5rem; */
}
.admin-button{
    margin-right: 5px;
}
table{
    border-collapse: collapse;
    border: 1px solid rgb(140 140 140);
    font-size: 1rem;
    color: black;
    width: 100%;
}
/* .theads{
    background-color: #007e85;
} */
.th-color{
    /* padding-right: 50px;
    padding-left: 50px; */
    background-color: #007e85;
    padding: 20px 50px;
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
.refresh{
    background-color:white;
    padding: 20px 20px;
    color: rgb(204, 204, 211);
}
.refresh button{
    background-color:transparent;
    border: 0;
    color: rgb(57, 57, 58);
    font-weight: 600;
}
.applicants-2{
    margin-top: 150px;
}