.doctor-container{
    display: flex;
    align-items: start;
    padding: 20px;
    background-color: #FAFAFA;
    border-radius: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;

}
.details-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.other-details{
    margin-right: 200px;
    white-space: nowrap;
}
.first-half{
    display: flex;
    align-items: center;
    flex-grow: 1;

}
.second-half {
    width: 100%; 
    margin-top: 5px;
}
.second-half hr{
    width: 100%;
}
.availability-consultation{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.avatar-container img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    object-fit: cover;
}
.personal-details h2{
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 200px;
}
.svg-component svg{
    margin-right: 10px;
}
.svg-component span{
    margin-right: 10px;
}
.svg-row{
    display: flex;
    align-items: center;
}
.btn-viewprofile{
    color: #007E85;
    border: 1px solid #007E85;  
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 400;
    background-color: transparent;
}
.btn-viewprofile:hover{
    border-color: #007E85;
    background-color: #007E85;
    color: white;
}
.btn-appointment{
    color: white;
    background-color: #007E85;
    border: 1px solid #007E85;  
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 400;
}
.btn-appointment:hover{
    background-color: #6EAB36;
    border-color: #6EAB36;
}
.speciality{
    color: #007E85;
    font-size: 17px;
}
.doctor-name{
    font-weight: 700;
}
.md-doctor{
    font-size: 15px;
    font-weight: 500;
    color: #596e8a;
}
.btn-appointment-3{
    color: white;
    background-color: #007E85;
    border: 1px solid #007E85;  
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 400;
    width: 100%;
}
.btn-appointment-3:hover{
    background-color: #6EAB36;
    border-color: #6EAB36;
}
