body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.home {
    margin-bottom: 150px;
}

.description h2 {
    margin-bottom: 25px;
    text-align: left;
    font-size: 40px;
}

.description p {
    text-align: left;
    font-size: 20px;
}

main {
    margin-bottom: 200px;
    margin-top: 50px;
}

.vector {
    position: absolute;
    transform: translate(-20px, 100px)
}

.doctor {
    position: relative;
}

#Appointment {
    width: 250px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    background-color: #007E85;
    color: #FFFFFF;
}

#play {
    width: 50px;
    height: 50px;
    background-color: #007E85;
    color: #FFFFFF;
    border: 0;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.watch {
    text-align: center;
}