.linker{
    text-decoration: none;
    color: #6EAB36;
    border: 0;
    padding: 5px 30px;
    font-size: 22px;
    margin-right: 10px;

}
.linker:hover{
    background-color: #007E85;
    border-radius: 2rem;
    color: white;
}
#LogoTitle {
    color: #007E85;
}
#LogoSubTitle {
    color: #6EAB36;
}
.login{
    color: white;
    background-color: #6EAB36;
    padding: 5px 30px;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 22px;
    margin-right: 10px;

}
.nav-active2{
    background-color: #007E85;
    border-radius: 2rem;
    color: white;
    padding: 5px 30px;
    text-decoration: none;
    font-size: 22px;
    margin-right: 10px;

}
.login:hover{
    background-color: #007E85;
}
.nav-item {
    color: #6EAB36;
    font-size: 22px;
    position: relative;
    text-decoration: none;
    margin-right: 1.5em;
    padding: 5px;
}
/* .nav-item::after {
    content: "";
    position: absolute;
    background-color: #007E85;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
} */
.nav-item:hover::after {
    width: 100%;
}

.nav-item:hover {
    color: #007E85;
}
.nav-new{
    text-decoration: none;
    color: #6EAB36;
    padding: 5px 15px;
}
.nav-active{
    background-color: #007E85;
    border-radius: 2rem;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
}
.nav-new:hover{
    border-radius: 2rem;
    background-color: #007E85;
    color: white;
}
/* .login:focus, .linker:focus, .nav-new:focus{
    background-color: #007E85;
    border-radius: 2rem;
    color: white;
} */
.userData-Name img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 15px;
    border: 1px solid #6EAB36;
}
.userData-Name{
    display: inline-flex; 
    align-items: center;
    /* border-radius: 10px;
    border: 1px solid #D9D9D9; */
    font-size: 22px;
    color: #6EAB36;
    padding: 0px 10px;
}
#appointcare-logo{
    width: 55px;
    height: 50px;
}