.patient-signup{
    margin-top: 50px;
    margin-bottom: 100px;
}
.signup-section{
    margin-top: 50px;
    margin-bottom: 100px;
}
.signup-form h2{
    font-weight: 700;
    margin-left: 30px;
} 
.signup-form h4{
    margin-left: 30px;
}  
.signup-form label{
    font-weight: 500;
    text-align: left;
    padding: 10px 0;
}
.signup-form input{
    border: 2px solid #E6E6E6;
    border-radius: 8px;
    width: 500px;
    height: 50px;
    padding-left: 20px;
}
.submit-signup{
    margin-top: 30px;
    width: 500px;
    border-radius: 5px;
    padding: 10px 10px;
    background-color: #007E85;
    color: white;
    border: 0;
}