.patient-page {
    margin-top: 40px;
    margin-bottom: 20px;
}

.patient-infos {
    text-align: center;
    padding: 25px;
    border-radius: 9px;
    background-color: #FAFAFA;
}

.main-2 {
    margin-bottom: 500px;
}