@import "tailwindcss";

@layer base {
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(241, 245, 249, 0.5);
  }
  .dark ::-webkit-scrollbar-track {
    background: rgba(15, 23, 42, 0.5);
  }
  ::-webkit-scrollbar-thumb {
    background: #008081;
    border-radius: 100px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #81B641;
    background-clip: content-box;
  }
}

/* Optional: Tailwind utility for applying scrollbar */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #008081 rgba(241, 245, 249, 0.5);
}
.dark .scrollbar {
  scrollbar-color: #008081 rgba(15, 23, 42, 0.5);
}